*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

header{
     background-color: antiquewhite;
     text-align: center;
}

main{
     background-color:darkgrey;
     color: black;
     margin: 2em;
     
}