*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

header{
     background-color: antiquewhite;
     text-align: center;
}

img{
     width: 50%;
     margin: 5em;
     max-height: 40%;
     filter: drop-shadow(5px 5px 5px red);


}